<header class="p-3 bg-dark text-white">
  <div class="container-fluid ms-0">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center me-2 mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="/images/wallet.png" alt="" height="50px" width="50px">
      </a>
      <h3 class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">Expense Tracker</h3>
      <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <button type="button" id="btnLogin" class="btn btn-outline-light me-2">Login</button>
        <button type="button" id="btnSignup" class="btn btn-outline-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>