<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 872px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        <i class="bi bi-speedometer2 me-2" width="16" height="16"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="bi bi-graph-up-arrow me-2" width="16" height="16"></i>
        Income
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="bi bi-wallet me-2" width="16" height="16"></i>
        Expense
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="bi bi-journal-text me-2" width="16" height="16"></i>
        Reports
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="bi bi-calendar3 me-2" width="16" height="16"></i>
        Transactions
      </a>
    </li>
  </ul>
  <hr>
  <% if (locals.user) { %>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="<%= user.profileImageURL %>" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>
          <%= locals.user.fullName %>
        </strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
        <!-- <li><a class="dropdown-item" href="#">Settings</a></li> -->
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="/user/logout">Signout</a></li>
      </ul>
    </div>
    <% } %>
</div>